<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RPGine{% block head_title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"/>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" integrity="sha384-8mpDLwonQZmbe+NSxlfP47bSD45JOenYvLLJIsxcV6t08mn9aapHSBlcjTlSv+rS" crossorigin="anonymous"></script>

    {% comment "CUSTOM HEAD JAVASCRIPT CDN CONTENT" %}{% endcomment %}
    {% block head_js_remote_cdn %}{% endblock %}

    {% comment "JAVASCRIPT CDN TO LOCAL FALLBACK TO ENABLE OFFLINE USAGE" %}{% endcomment %}
    <script>window.jQuery || document.write('<script src="{% load static %}{% static "scripts/libs/jquery-2.2.4.min.js" %}"><\/script>')</script>
    {% load static %}<script src="{% static "scripts/libs/jquery-2.2.4.min.js" %}"></script>
    {% load static %}<script src="{% static "scripts/libs/bootstrap.js" %}"></script>

    {% comment "CUSTOM HEAD JAVASCRIPT LOCAL CONTENT" %}{% endcomment %}
    {% block head_js_local %}{% endblock %}

    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" integrity="sha384-HIq10PGaFnYl5SaZKAWej6ppW5+ww1BD8PQ8JKkgMybhae9J2EqkxepdU36KMOFx" crossorigin="anonymous">
    {% load static %}<link rel="stylesheet" href="{% static "css/base.css" %}">

    {% comment "CUSTOM HEAD CSS CDN CONTENT" %}{% endcomment %}
    {% block head_css_remote_cdn %}{% endblock %}

    {% comment "BOOTSTRAP CDN TO LOCAL FALLBACK TO ENABLE OFFLINE USAGE" %}{% endcomment %}
    <script>
            $(document).ready(function()
            {
                var bodyColor = $('body').css('color');

                if(bodyColor != 'rgb(51, 51, 51)')
                {
                    {% load static %}$("head").prepend('<link rel="stylesheet" href="{% static "css/libs/bootstrap.css" %}">');
                }
            });
    </script>

    {% comment "CUSTOM HEAD CSS LOCAL CONTENT" %}{% endcomment %}
    {% block head_css_local %}{% endblock %}
</head>
<body>
    {% comment "CUSTOM BODY CONTENT" %}{% endcomment %}
    {% block body %}{% endblock %}
</body>
</html>