div.social-user {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    position: relative;
}

div.card.social-bar {
    text-align: center;
    width: 10px;
    max-width: 10px;
}

div[class^="card social-bar "] {
    width: 10px;
    height: 500px;
}

div[class^="social-user image"] {
    text-align: center;
    margin-left: 500px;
    max-width: 100%;
    max-height: 100%;
}

image.card-img-top {
    size: auto;
    max-width: 10px;
}