div.social-user {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    position: relative;
}

div.card.socialbar {
    background-color: #2b542c;
}

div[class^="card social-bar "] {

}

div[class^="social-user image"] {
    text-align: center;
}

div[class^="social-user label"] {
    text-align: center;
}

image.card-img-top {
    size: auto;
    max-width: 10px;
}