body {
    padding-top: 70px;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #222222;
}
.navbar-nav > li > .dropdown-menu a {
    color: #e27713;
}
.navbar-nav > li > a:hover {
    color: #fff;
    background: rgba(226, 119, 19, 0.2);
} /* not working */
.bg-inverse {
    color: #eceeef;
    background-color: #222222;
}
.dropdown-divider {
    background-color: #e27713;
}

.nav.nav-sidebar {
    margin-top: -14px;
    color: #e27713;
    background: #222222;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 38px;
    padding-left: 38px;
    margin-left: -16px;
    z-index: 50;
}

.nav.nav-sidebar > li {
    margin:10px 0 18px 0;
}

.nav.nav-sidebar > li > a {
    color: #e27713;
    font-weight: bold;
}

.nav.nav-sidebar> .active > a:hover {
    color: #ffffff;
    background-color: #428bca;
}

.page-content {
    width: 100%;
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 40px;
}

.tab-content {
    padding-top: 10px;
}

.tab-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px 10px 10px 10px;
}

#split-bar-sidebar {
    cursor:e-resize;
    position: absolute;
    margin-top: -14px;
    margin-left: 160px;
    height: 60px;
    width: 6px;
    background-color: #e27713;
    z-index: 100;
}