#socialcardbar {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100px;
    position: relative;
}

div[class^="card social-bar "] {
    width: 180px;
    height: 180px;
    max-width: 180px;
    max-height: 180px;
    position: relative;
}

div[class^="social-user image"] {
    text-align: center;
    width: 180px;
    height: 180px;
    max-width: 180px;
    max-height: 180px;
}

div[class^="social-user label"] {
    text-align: center;
}

img[class^="socialimage"] {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#diceroller {
    width: 100px;
    height: 100px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #d1d1d1;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(34, 34, 34, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}