body {
    padding-top: 70px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #222222;
}

.navbar-nav > li > .dropdown-menu a {
    color: #e27713;
}

.navbar-nav > li > a:hover {
    color: #fff;
    background: rgba(226, 119, 19, 0.2);
}

/* not working */
.bg-inverse {
    color: #eceeef;
    background-color: #222222;
}

.dropdown-divider {
    background-color: #e27713;
}

.nav.nav-sidebar {
    margin-top: -14px;
    color: #e27713;
    background: #222222;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 38px;
    padding-left: 38px;
    margin-left: -16px;
    z-index: 50;
}

.nav.nav-sidebar > li {
    margin: 10px 0 18px 0;
}

.nav.nav-sidebar > li > a {
    color: #e27713;
    font-weight: bold;
}

.nav.nav-sidebar > li:hover {
    color: #ffffff;
    background-color: rgba(226, 119, 19, 0.2);
}

.nav.nav-sidebar > li > a:hover {
    color: #ffffff;
}

.page-content-wrapper {
    width: 100%;
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
}

.page-content {
    width: 100%;
    position: relative;
}

.tab-content-wrapper {
    width: 100%;
    padding-top: 10px;
}

.tab-content {
    padding-top: 10px;
}

#split-bar-sidebar {
    cursor: e-resize;
    position: fixed;
    margin-top: -14px;
    margin-left: 160px;
    height: 100vh;
    width: 6px;
    background-color: #000000;
    z-index: 100;
}

ol.breadcrumb {
    overflow-x: visible;
    overflow-y: visible;
    margin-top: -20px;
    margin-left: -28px;
    background-color: #ffffff;
    width: auto;
    height: auto;
}

ol.breadcrumb > li {
    float: left;
}

ol.breadcrumb > li > a {

}