{% extends 'dashboard.html' %}

{% block head_js_local %}
    {% load static %}<script src="{% static "danceofdragons/scripts/dashboard.js" %}"></script>
{% endblock %}

{% block head_css_local %}
    {% load static %}<link rel="stylesheet" href="{% static "danceofdragons/css/dashboard.css" %}">
    {% load static %}<link rel="stylesheet" href="{% static "danceofdragons/css/libs/sidebar.css" %}">
{% endblock %}

{% block body_navbar-nav_module_active %}Dance of Dragons{% endblock %}

{% block sidebar %}
    <li role="presentation" class="active"><a href="/dance-of-dragons/dice-roller">Dicer Roller</a></li>
    <li role="presentation" ><a href="/dance-of-dragons/fighting">Fighting</a></li>
    <li role="presentation" ><a href="/dance-of-dragons/economy">Economy</a></li>
    <li role="presentation" ><a href="/dance-of-dragons/espionage">Espionage</a></li>
    <li role="presentation" ><a href="/dance-of-dragons/relationships">Relationships</a></li>
    <li role="presentation" ><a href="/dance-of-dragons/pinboard">Pinboard</a></li>
    <li role="presentation" ><a href="/dance-of-dragons/maps">Maps</a></li>
{% endblock %}

{% block body_content %}
    <h1>Dance of Dragons RPGine Community Module</h1>
    <p>Use this module to enable easier management of the dance of dragons game rules!</p>
{% endblock %}