{% extends 'danceofdragons/dashboard.html' %}

{% block head_js_local %}
    {% load static %}
    <script src="{% static "danceofdragons/scripts/dashboard.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/libs/three.min.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/libs/cannon.min.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/libs/teal.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/libs/dice.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/libs/diceroller.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/dashboard_diceroller.js" %}"></script>
{% endblock head_js_local %}

{% block head_css_local %}
    {% load static %}
    <link rel="stylesheet" href="{% static "danceofdragons/css/dashboard.css" %}">
    <link rel="stylesheet" href="{% static "danceofdragons/css/dashboard_diceroller.css" %}">
{% endblock head_css_local %}

{% block tabbar %}
    <ul class="nav nav-tabs">
        <li class="nav-item"><a
                class="nav-link{% if request.path == '/' or 'simple-rolls' in request.path %} active{% endif %}"
                href="{% url 'simple-rolls' %}">Simple Rolls</a></li>
        <li class="nav-item"><a class="nav-link{% if 'extended-rolls' in request.path %} active{% endif %}"
                                href="{% url 'extended-rolls' %}">Extended Rolls</a></li>
        <li class="nav-item"><a class="nav-link{% if 'contested-rolls' in request.path %} active{% endif %}"
                                href="{% url 'contested-rolls' %}">Contested Rolls</a></li>
    </ul>
{% endblock %}

{% block breadcrumbs_fields %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'simple-rolls' %}">Dice Roller</a></li>
{% endblock breadcrumbs_fields %}


{% block body_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                {% block body_content_social %}
                    <h1>Generic Rolls</h1>
                    <p>This page provides generic rolls!</p>
                {% endblock body_content_social %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-lg-1">
                {% block body_content_chat %}{% endblock body_content_chat %}
                {% block body_content_lobby %}{% endblock body_content_lobby %}
                <span id="label"></span>
                <div class="center_field">
                    {% csrf_token %}
                    <input type="text" id="set" value="10d10"/><br/>
                    <button id="clear">clear</button>
                    <button style="margin-left: 0.6em" id="throw">throw</button>
                </div>
                <div id="canvas"></div>
                <script defer="defer">
                    dice_initialize(document.body);
                </script>
            </div>
        </div>
    </div>
{% endblock body_content %}