{% extends 'danceofdragons/dashboard.html' %}

{% block head_js_local %}
    {% load static %}
    <script src="{% static "danceofdragons/scripts/dashboard.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/libs/three.min.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/libs/cannon.min.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/libs/teal.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/libs/dice.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/libs/diceroller.js" %}"></script>
    {% load static %}
    <script src="{% static "danceofdragons/scripts/dashboard_diceroller.js" %}"></script>
{% endblock %}

{% block head_css_local %}
    {% load static %}
    <link rel="stylesheet" href="{% static "danceofdragons/css/dashboard.css" %}">
{% endblock %}

{% block tabbar %}
    <ul class="nav nav-tabs">
        <li class="nav-item"><a
                class="nav-link{% if request.path == '/' or 'simple-rolls' in request.path %} active{% endif %}"
                href="{% url 'simple-rolls' %}">Simple Rolls</a></li>
        <li class="nav-item"><a class="nav-link{% if 'extended-rolls' in request.path %} active{% endif %}"
                                href="{% url 'extended-rolls' %}">Extended Rolls</a></li>
        <li class="nav-item"><a class="nav-link{% if 'contested-rolls' in request.path %} active{% endif %}"
                                href="{% url 'contested-rolls' %}">Contested Rolls</a></li>
    </ul>
{% endblock %}

{% block body_content %}
    <h1>Simple Rolls</h1>
    <p>This page provides simple rolls!</p>
    <span id="label"></span>
    <div class="center_field">
        {% csrf_token %}
        <input type="text" id="set" value="10d10"/><br/>
        <button id="clear">clear</button>
        <button style="margin-left: 0.6em" id="throw">throw</button>
    </div>
    <div id="canvas"></div>
    <script defer="defer">
        dice_initialize(document.body);
    </script>

{% endblock %}