{% extends 'danceofdragons/dashboard.html' %}

https://raw.githubusercontent.com/enyo/dropzone/master/dist/dropzone.js

{% block head_js_local %}
    {% load static %}<script src="{% static "scripts/libs/sidebar.js" %}"></script>
    {% load static %}<script src="{% static "scripts/libs/dropzone.js" %}"></script>
    {% load static %}<script src="{% static "danceofdragons/scripts/dashboard.js" %}"></script>
    {% load static %}<script src="{% static "danceofdragons/scripts/dashboard_pinboard.js" %}"></script>
{% endblock %}

{% block head_css_local %}
    {% load static %}<link rel="stylesheet" href="{% static "danceofdragons/css/libs/sidebar.css" %}">
    {% load static %}<link rel="stylesheet" href="{% static "css/libs/dropzone.css" %}">
    {% load static %}<link rel="stylesheet" href="{% static "danceofdragons/css/dashboard.css" %}">
    {% load static %}<link rel="stylesheet" href="{% static "danceofdragons/css/dashboard_pinboard.css" %}">
{% endblock %}

{% block body_content %}
    <h1>Pinboard</h1>

    <form action="/file-upload" class="dropzone">
        <div class="dz-preview dz-file-preview">
  <div class="dz-details">
    <div class="dz-filename"><span data-dz-name></span></div>
    <div class="dz-size" data-dz-size></div>
    <img data-dz-thumbnail />
  </div>
</div>
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
{% endblock %}