{% extends 'danceofdragons/dashboard_diceroller.html' %}

{% block body_content %}
    {{ block.super }}
{% endblock body_content %}

{% block body_content_social %}
    <div id="social-users-gamemasters">
    </div>
    <div id="social-users-privileged">
    </div>
    <div id="social-users-unprivileged">
        <div class="card social-user">
            <div class="social-user image">
                <i class="fa fa-user fa-5x" aria-hidden="true"></i>
            </div>
            <div class="social-user label">
                <div class="card-block">
                    <p class="card-text social-user text">Dominik</p>
                    <p class="card-text social-user text">Gamemaster</p>
                </div>
            </div>
        </div>

        <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        <i class="fa fa-user fa-5x" aria-hidden="true"></i>
    </div>
    <div id="social-npcs-public">
    </div>
    <div id="social-npcs-private">
    </div>
    <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
    <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
    <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
    <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
    <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
    <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
{% endblock body_content_social %}

{% block breadcrumbs_fields %}
    {{ block.super }}
    <li class="breadcrumb-item active"><a href="{% url 'simple-rolls' %}">Simple Rolls</a></li>
{% endblock breadcrumbs_fields %}