{% extends 'danceofdragons/dashboard_diceroller.html' %}

{% block body_content %}
    {{ block.super }}
{% endblock body_content %}

{% block body_content_social %}
    <div id="socialcardbar" class="card flex-container">
        <div id="socialcardbar-row" class="row">
            <div class="social-bar users gamemasters" id="social-users-gamemasters">
                <div class="card social-bar user gamemaster">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/gamemaster.jpg" %}"
                                          alt="Gamemaster">
                </div>
            </div>
            <div class="social-bar users privileged" id="social-users privileged">
                <div class="card social-bar user privileged">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Kommandant Nelia Himmelsstein.JPG" %}"
                                          alt="Kommandant Nelia Himmelsstein">
                </div>
                <div class="card social-bar user privileged">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Der Titan.JPG" %}"
                                          alt="Der Titan">
                </div>
            </div>
            <div class="social-bar users unprivileged" id="social-users unprivileged">
                <div class="card social-bar user unprivileged">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Lord Cryus Himmelsstein.jpg" %}"
                                          alt="Lord Cryus Himmelsstein">
                </div>
                <div class="card social-bar user unprivileged">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Prinzessin Lycinda Visenya Himmelsstein.JPG" %}"
                                          alt="Prinzessin Lycinda Visenya Himmelsstein">
                </div>
                <div class="card social-bar user unprivileged">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Maester Lucius.JPG" %}"
                                          alt="Maester Lucius">
                </div>
                <div class="card social-bar user unprivileged">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Septon Derren.jpg" %}"
                                          alt="Septon Derren">
                </div>
            </div>
            <div class="social-bar npcs public" id="social-npcs public">
                <div class="card social-bar npc private">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/hogger.jpg" %}"
                                          alt="Hogger">
                </div>
                <div class="card social-bar npc private">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/onyxia.jpg" %}"
                                          alt="Onyxia">
                </div>
                <div class="card social-bar npc private">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Sauron.png" %}"
                                          alt="Sauron">
                </div>
                <div class="card social-bar npc private">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Generic Archer.png" %}"
                                          alt="Generic Archer">
                </div>
            </div>
            <div class="social-bar npcs private" id="social-npcs private">
                <div class="card social-bar npc private">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Forrest Gump.jpg" %}"
                                          alt="Forrest Gump">
                </div>
                <div class="card social-bar npc private">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Mysterious Vault Boy.JPG" %}"
                                          alt="Mysterious Vault Boy">
                </div>
                <div class="card social-bar npc private">
                    {% load static %}<img class="social-image img-responsive img-rounded"
                                          src="{% static "danceofdragons/media/images/private/Saurons Eye.jpg" %}"
                                          alt="Saurons Eye">
                </div>
            </div>
        </div>
    </div>
{% endblock body_content_social %}

{% block body_content_content %}
    <div id="contentcard" class="card">
        <span id="label"></span>
        <div class="center_field">
            {% csrf_token %}
            <input type="text" id="set" value="10d10"/><br/>
            <button id="clear">clear</button>
            <button style="margin-left: 0.6em" id="throw">throw</button>
        </div>
        <div id="diceroller">
            <div id="canvas"></div>
            <script defer="defer">
                dice_initialize(document.getElementById("diceroller"));
            </script>
        </div>
    </div>
{% endblock body_content_content %}

{% block breadcrumbs_fields %}
    {{ block.super }}
    <li class="breadcrumb-item active"><a href="{% url 'simple-rolls' %}">Simple Rolls</a></li>
{% endblock breadcrumbs_fields %}