{% extends 'dashboard.html' %}

{% block head_js_local %}
    {% load static %}<script src="{% static "scripts/libs/sidebar.js" %}"></script>
    {% load static %}<script src="{% static "danceofdragons/scripts/dashboard.js" %}"></script>
{% endblock %}

{% block head_css_local %}
    {% load static %}<link rel="stylesheet" href="{% static "danceofdragons/css/dashboard.css" %}">
    {% load static %}<link rel="stylesheet" href="{% static "danceofdragons/css/libs/sidebar.css" %}">
{% endblock %}

{% block body_navbar-nav_module_active %}Dance of Dragons{% endblock %}

{% block sidebar %}
    <li role="presentation" class="active"><a href="#">Dicer Roller</a></li>
    <li role="presentation" ><a href="#">Fighting</a></li>
    <li role="presentation" ><a href="#">Economy</a></li>
    <li role="presentation" ><a href="#">Espionage</a></li>
    <li role="presentation" ><a href="#">Relationships</a></li>
    <li role="presentation" ><a href="#">Pinboard</a></li>
    <li role="presentation" ><a href="#">Maps</a></li>
{% endblock %}

